[Unit]
Description=ACE Redis
After=network-online.target

[Container]
ContainerName=ace-redis
Image=docker.io/library/redis:7
Network=ace.network
Exec=redis-server --save 60 1 --loglevel warning
Volume=ace-redis-data.volume:/data:Z
HealthCmd=redis-cli ping
HealthInterval=10s
HealthRetries=6

[Service]
Restart=always

[Install]
WantedBy=default.target
